Datos_proyecto_II_BI_2021_sin_asma.csv
DatosMultipropositoSinAsma-Proy2/

Datos_proyecto_II_BI_2017_sin_asma.csv
DatosMultipropositoSinAsma-Proy2/

Datos_proyecto_II_BI_2017.csv
Proyecto 2 - BI - Asma DatosAjus/

Datos_proyecto_II_BI_2021.csv
Proyecto 2 - BI - Asma DatosAjus/

data2021/

data2017/